
	
<div id="square">
  <table>
    <thead ><th>Block {{block.index}}</th></thead>
    <tbody>
        <tr> <td>Index:</td> <td>{{block.index}}</td></tr>
        <tr> <td>Time Stamp:</td> <td style="font-size: 10pt;">{{block.timeStamp}}</td></tr>
        <tr> <td>Data:</td> <td>{{block.data}}</td></tr>
        <tr> <td>Previous Hash:</td> <td style="font-size: 10pt;">{{block.prevHash}}</td></tr>
        <tr> <td>Hash:</td> <td style="font-size: 10pt;">{{block.hash}}</td></tr>
    </tbody>
  
  </table>

</div>